* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
}

html
{
  font-family: Arial, Helvetica, sans-serif;
  background: url("../images/pexels-johannes-plenio-1103970.png");
  background-size: 100vw 100vh;
}

.marginTopBottom
{
  margin: 2em 0 2em 0;
}
.App
{}
  form 
  {}
    .profileImage
    {
      border-radius: 50%;
      background: rgb(151, 151, 151);
      margin: 10px;
      text-align: center;
    }
    .imageInput
    {
      display: none;
    }
  .formsContainer
  {
    background:rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 50vw;
    transform: translateX(50%);
    padding-bottom: 0.5em;
  }
    .form
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
      .inputField
      {
        border: 1px solid black;
        margin: 5px 0 5px 0;
        padding: 5px;
      }
      .button
      {
        padding: 5px;
        border-radius: 3px;
        background: linear-gradient(45deg, rgba(81, 226, 245, 0.3), rgba(199, 248, 255, 0.3)) ;
        box-shadow: 3px 3px 3px rgb(0, 0, 0);
      }
      .button:hover
      {
        background: linear-gradient(45deg, rgba(199, 248, 255, 0.3), rgba(81, 226, 245, 0.3));
        box-shadow: 1px 1px 1px rgb(0, 0, 0);
        transform: translate(2px, 2px);
      }


.show
{
  display: flex;
}
.hide
{
  display: none;
}